astroid==2.4.2
beautifulsoup4==4.9.3
bottle==0.12.19
bs4==0.0.1
certifi==2020.11.8
chardet==3.0.4
cssselect==1.1.0
fire==0.3.1
flake8==3.8.4
getmac==0.8.2
idna==2.10
isort==5.6.4
lazy-object-proxy==1.4.3
lxml==4.6.2
mccabe==0.6.1
parse==1.18.0
pycodestyle==2.6.0
pyflakes==2.2.0
pylint==2.6.0
pyquery==1.4.3
python-nmap==0.6.1
pywebcopy==6.3.0
requests==2.25.0
six==1.15.0
soupsieve==2.0.1
speedtest-cli==2.1.2
termcolor==1.1.0
toml==0.10.2
urllib3==1.26.2
w3lib==1.22.0
wrapt==1.12.1
